<div class="mb-6 flex space-x-4">
  <a href="/" class="bg-gray-200 hover:bg-gray-300 text-gray-800 py-2 px-4 rounded">
    All Todos
  </a>
  <a href="/?filter=done" class="bg-green-500 hover:bg-green-600 text-white py-2 px-4 rounded">
    Done Todos
  </a>
  <a
    href="/?filter=upcoming"
    class="bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 rounded"
  >
    Upcoming Todos
  </a>
</div>
